* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.foot {
  width: 100%;
  height: 6em;
  line-height: 6em;
  padding: 0 1em;
  background: #ce3d3a;
}

.foot .logo {
  height: 100%;
}

.foot .logo p {
  float: left;
  color: #fff;
  font-size: 2.5em;
}

.foot .logo .icon-xinxinicon {
  color: #fff;
  float: left;
  font-size: 2.5em;
}

.bar {
  display: flex;
}

.bar li {
  text-align: center;
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #adaeb3;
}

.bar li a {
  padding: 0.6em 0;
  color: #000;
  text-decoration: none;
  font-size: 1.6em;
}

.yhl #slide {
  color: #fff;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.yhl .container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.yhl .slide {
  transform: translate3d(100%, 0, 0);
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: #ce3d3a;
  transition: transform 500ms ease-in;
}

.yhl .slide .slide-h {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-left: -2.5em;
  box-shadow: 0 0 0.5em #fff;
}

.yhl .slide .slide-h img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.yhl .slide .slide-h p {
  text-align: center;
  color: #fff;
  margin-top: 0.3em;
}

.yhl .slide .slide-s ul li {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}

.yhl .slide .slide-s ul li a {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}

.yhl .slide .slide-s ul:nth-of-type(1) {
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 45%;
}

.yhl .slide .slide-s ul:nth-of-type(2) {
  display: inline-block;
  position: absolute;
  right: 30%;
  top: 45%;
}

.yhl .slide .slide-f {
  position: absolute;
  left: 20%;
  bottom: 20%;
}

.yhl .slide .slide-f li {
  margin-top: 1em;
}

.yhl .slide .slide-f li a {
  font-size: 1.5em;
  color: #fff;
  padding: 0 0.5em;
}

.yhl .slide .slide-f li a i {
  font-size: 1.5em;
  color: #fff;
  padding: 0 0.5em;
}

.yhl .slide.active {
  transform: translate3d(0, 0, 0);
}
